body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-wrapper {
    max-width: 1024px;
}

.personal-data-container {
    display: flex;
    justify-content: space-between;
}

.personal-data {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}

.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: purple;
    height: 100px;
    width: 33.333%;
}

.summary-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 10px;
    grid-template-rows: 1fr 1fr;
}

.skill {
    display: flex;
    flex-direction: column;
}